html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #331a3a;
  --secondary: #1e132e;
  --tertiary: #5e2648;
  --quaternary: #551c41;
  --quinary: #89374c;

  --bg_color: #fff;
  --text_color: #ffffff;
  --text_color_secondary: #ffffff;
}

[data-theme='sunset'] {
  --primary: #331a3a;
  --secondary: #1e132e;
  --tertiary: #5e2648;
  --quaternary: #551c41;
  --quinary: #89374c;

  --bg_color: #fff;
  --text_color: #ffffff;
  --text_color_secondary: #ffffff;
  
}

[data-theme='aurora'] {
  --primary: #6b6d7f;
  --secondary: #7fa689;
  --tertiary: #557e6c;
  --quaternary: #2b3843;
  --quinary: #9f8789;

  --bg_color: #fff;
  --text_color: #ffffff;
  --text_color_secondary: #ffffff;
  
}

[data-theme='seashore'] {
  --primary: #162523;
  --secondary: #d1bfa8;
  --tertiary: #b49679;
  --quaternary: #475048;
  --quinary: #8d8475;

  --bg_color: #fff;
  --text_color: #ffffff;
  --text_color_secondary: #ffffff;
  
}

.container {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--text_color);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text_color);
}

p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text_color);
}

a {
  text-decoration: none;
  color: var(--text_color);
}
