@tailwind base;
@tailwind components;
@tailwind utilities;

@import "satoshi.css";

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .glass-bg {
    @apply bg-opacity-10 bg-clip-padding backdrop-blur-sm backdrop-filter;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .home-bg {
    background-image: linear-gradient(
      to right bottom,
      #749a81,
      #547f77,
      #416367,
      #354851,
      #292f36,
      #252930,
      #212329,
      #1d1e23,
      #242830,
      #29323d,
      #2d3d4b,
      #2f4858
    );
  }

  .home-clip {
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
  }

  .home-clip-phone {
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
  }

  .gradient-radial {
    background: radial-gradient(
      800px circle at var(--mouse-pos-x) var(--mouse-pos-y),
      rgba(255, 255, 255, 0.7),
      transparent 40%
    );
  }

  .text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}
}
