.glass-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    width: 100%;
    z-index: 200;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }


.title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 1vw;
    margin-top: 1vh;
}

.navContainer {
    display: flex;
    justify-content: flex-end;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 40%;

    

    text-decoration: none;
}

.ul {
    display: flex;
    list-style: none;
    margin-right: 1vw;
}

.li {
    margin: 0 2vw;
}

.a, .p {
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 500;
}